.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.mootabs_title h2 { color: black; text-align: center; }

.mootabs_title li {
	float: left;
  margin: 0 0 0 20px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
	cursor: pointer;
	line-height: 24px;
	background-color: #fff;
	border: 1px dotted #bbb;
}

.mootabs_title a {
  color: blue;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: -20px;
  font-size: 14px; 
}

.mootabs_title li.active,
.mootabs_title li.active h2 {
	background-color: #bbb;
	color: #666;
}

.mootabs_panel {
	display: none;
	position: relative;
	width: 100%;
	top: -1px;
	font-family: "Trebuchet MS";
	clear: both;
	color: #fff;
	overflow: auto;
	padding: 5px;
}

.mootabs_panel.active {
	background-color: #bbb;
	display: block;
}

.mootabs_title li.over {
	color: #fff;
}

/* styles for different content object panes */
#Original h3 {
	display: block;
	font-size: 1.5em;
	color: #666;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
#Replacement h3 {
	display: block;
	font-size: 1.5em;
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#Replacement.mootabs_panel.active { background-color: green; }
.mootabs_title li[title="Replacement"].active,
.mootabs_title li[title="Replacement"].active h2 {
	background-color: green;
	color: #fff;
}
