h1 {
	margin: 0;
	padding: 0 0 2px 0;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	}	

h2, h3 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #000;	
	}
	
h2 {
	font-size: 14px;
	color: #555;
	font-weight: bold;	
	}
	
a {
	color: #e60;
	text-decoration: none;
	cursor: pointer;
	}

a:hover, a:visited, a:active {
	color:#e40;
	text-decoration: none;
	}
	
p {
	line-height: 140%;
	margin: 0;
	padding: 0 0 10px 0;
	}
	
ul {
	margin-top: 0;
	padding-top: 0;
	}
	
pre, code {
	margin: 0;
	padding: 0;
	}

pre {
	background: #fbfbfb;
	width: 350px;
	overflow: auto;
	padding: 5px 0 10px 0;
	margin: 0 0 20px 0;
	}

/* List Elements */

li {
	padding: 0 0 3px 0;
	}


/* Form Elements */
form {
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	}

/* custom */
#header_line {
	border-bottom: 1px solid #688;
	margin-bottom: 20px;
}
#header {
	border-bottom: 0px solid #688;
	margin-bottom: 20px;
}
#footer {
	border-top: 1px solid #688;
	margin-top: 20px;
}
#imagebar {
	background: #f8f8f8;
  height: 500px;
  overflow: hidden;
}

#mainPage h3 {
	display: block;
	font-size: 12px;
	padding: 6px 0 6px 0;
	margin: 0 0 8px 0;
	border-bottom: 1px solid #bbb;
}	

#mainPage textarea, #mainPage input {
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;		
}
	
#mainPage .input {
	background: #fbfbfb;
	width: 200px;
	padding: 1px 0 1px 3px;
	border: 1px solid #ccc;	
	}

#mainPage textarea {
	background: #fbfbfb;
	width: 225px;
	height: 100px; 
	padding: 1px 0 1px 3px;
	border: 1px solid #ccc;	
	}		

#mainPage .formLabel {
	float: left;	
	text-align: left;
	clear: both;
	width: 150px;
	margin: 0 0 0px 0;	
}
	
#mainPage .formField {
	float: left;
	clear:both;
	text-align: left;
	margin: 0 10px 8px 0;
	width: 230px;
}

#area {
	background: #f8f8f8;
	height: 300px;
	width: 20px;
	margin-top: 0;
}
 
#knob {
	height: 20px;
	width: 20px;
	background: #000;
}

#co_bar {
	position: absolute;
	border: 1px solid red;
	width: 600px;
	height: 495px;
	margin-top: 95px;
	margin-left: 342px;
	z-index: 100;
}	

.ajax-done { display: none; }
.add-overflow { overflow: auto; }

#saved.ajax-loading {
	padding: 20px 0;
	background: url(../images/ajax_load.gif) no-repeat center;
}


.tool-tip {
			color: #fff;
			width: 139px;
			z-index: 13000;
}		 
.tool-title {
			font-weight: bold;
			font-size: 11px;
			margin: 0;
			color: #9FD4FF;
			padding: 8px 8px 4px;
			background: url(../images/bubble.png) top left;
}
		 
.tool-text {
			font-size: 11px;
			padding: 4px 8px 8px;
			background: url(../images/bubble.png) bottom right;
}
.tool-text A {
		color:#069;
}
.tool-loading {
			background: url(../images/ajax_load.gif) center center no-repeat;
			width: 30px;
			height: 30px;
			margin: 0 auto;
}

#navlist { padding: 0 0 0 6px; }
ul#navlist {
    margin: 0;
    padding-bottom: 32px;
    list-style-type: none;
    border-bottom: 1px solid #999;
}
ul#navlist li {
    float: left;
    height: 22px;
    color: #000;
    background-color: #eee;
    margin: 6px 2px 0px 2px;
    border: 1px solid #999;
    border-bottom: none;
}
ul#navlist li#active { border-bottom: 2px solid #fff; height: 21px;}
ul#navlist li#active a { background-color: #fff; color: #990033; }
#navlist a { 
    float: left; 
    display: block;
    color: #000;
    text-decoration: none;
    padding: 4px;
}
#navlist a:hover { background: #fff; }

#materials_nav ul { margin: 0; padding: 0; }

#materials_nav li.normal {
  display: inline;
  margin: 0 5px;
  padding: 0 0 0 5px;
  font: normal 100% helvetica, Arial, sans-serif;
}

#materials_nav ul li.active { 
    display: inline;
    padding: 5px 10px 10px 10px;
    background-color: #222;
    margin: 6px 2px 0px 2px;
    border: none;
}
#materials_nav li.active a { background-color: #222; color: #999; }

.editpane {
  padding: 20px;
  border: 0px dotted #06030a;
  border-top: 0; 
  background-color: #222;
  min-height: 250px;
  height: 500px;
  color: #999;
	z-index: 13000;
}


#boxes { padding-top: 10px; }
.box {
	background: #fff;
    padding-top: 10px;
    color: #929292;
}
.box img {
    border: 0;
    width: 40px;
    float: left;
}

#flashMessage {
    width:100%;
    color:#FF0000; 
    border-bottom: 1px dashed #FF0000;
    border-top: 1px dashed #FF0000;
    font-size: 16px;
    margin: 8px 0px;
    font-weight: bold;
    padding: 10px;
}

#topnavlist { padding: 0 0 0 6px; }
ul#topnavlist {
    margin: 0;
    padding-bottom: 32px;
    list-style-type: none;
    border-bottom: 1px solid #999;
}
ul#topnavlist li {
    float: left;
    height: 22px;
    color: #000;
    background-color: #eee;
    margin: 6px 2px 0px 2px;
    border: 1px solid #999;
    border-bottom: none;
}
#topnavlist li#inactive { 
	background-color: white; 
	border: 1px dashed #999; 
	border-bottom:none;
  background-color: #eee;
} 
ul#topnavlist li#active { border-bottom: 2px solid #fff; height: 21px;}
ul#topnavlist li#active a { background-color: #fff; color: #990033; }
#topnavlist a { 
    float: left; 
    display: block;
    color: #000;
    text-decoration: none;
}
#topnavlist li { padding: 3px; padding-bottom:0;} 
#topnavlist li#active { background-color: white } 
#topnavlist a:hover { background: #fff; }
#topnavlist li:hover { background: #fff; }

.prog-key { vertical-align: text-top;}
.prog-bar { vertical-align: top;}
.prog-no-CO { margin-bottom: 10px;}
.prog-title { font-size: 14px; 
              font-weight: bold;
              margin-top: 13px; 
              padding-left: 8px;
            }
a.prog-link:visited, a.prog-link:link {color: #555555;}

/* CO Image */
a.smoothbox img { border:1px solid #dedede;} 
a.smootbox,
a.smoothbox:hover { text-decoration:none; }

.coimginfo { float:left;  padding:0; margin-top:-4px; width: 100%; max-width:300px; min-width:152px; height:23px; background: transparent; position: relative; left: -3px; top: -10px; }
.coimginfo p { float:left; margin:0; padding:0; color:#fff; font-family:Arial; display:inline; margin-top:7px;}
p#ciloc { margin:0; padding:0; margin-left:3px; margin-right:3px; margin-top:3px; width:16px; color: #333;}
p#cimagnify a, p#ciedit a { float:right; margin:0; padding:0 5px; text-decoration:none; margin-left:1px; margin-top:-3px;}
p#cimagnify a img, p#ciedit a img { margin:0; padding:0; height:16px; width:16px; border:none; position: relative; top: 0px; left: 6px; }

p#cislide {margin:0; padding:0}
p#cislide a, p#cislide span.spanbutton { float:left; margin:0; margin-left:3px; margin-top:2px; padding:2px; background:transparent; font-size:10px; text-decoration:none }
p#cislide span.spanbutton { color: #111; cursor: default; }
.co_tile {
	background-color: #bbb;
	padding: 3px;
	height: 100%;
	border: 0px solid #998;
}
div.status_notcleared:hover {
	background-color: #E0291D;
}
div.status_inprogress:hover {
	background-color: #3399CC;
}
div.status_cleared:hover {
	background-color: #44F622;
}
div.status_unknown:hover {
	background-color: #FFF;
}

/* status colors for flags */
span.status_notcleared {
	background-color: #E0291D;
}
span.status_inprogress {
	background-color: #3399CC;
}
span.status_cleared {
	background-color: #44F622;
}
span.status_unknown {
	background-color: #FFF;
}

.status_flag {
	left: 16px;
	position:relative;
	width: 16px;
	height: 16px;
	float: right;
	border: 0px solid #555;
}

div.dcell {
    background-color: #222;
    height: 181px;
    width: 158px;
}
div.dcellbig {
    height: 335px;
    max-width: 350px;
    width: 306px;
}
div.dwrap div div.dcell {
    margin: 0;
    margin-left: 30px;
}
#myTabs div.dcell .coimginfo { margin-top:-27px; }
div.dcell img, .co_tile img { 
	/*border: 4px solid #ccc; */
	position:relative;
 	top: -12px;
 	left: 0px;
}

/* Edit CO page */
div.dwrap {
  margin-top: 10px;
  max-height: 433px;
  float:left;
  overflow:auto;
}
div.dwrap div { margin-bottom: 25px; }
div.dwrap div div.first { margin-left:0;}
div.dwrap .coimginfo { margin-top:-24px; } 
div.dwrap div#edrepl div.edrepl1 { margin-left: 70px;}
div.dwrap div#edrepl div.edrepl2 { margin-left: 0;}
div.dwrap div#edrepl div.first { margin: 0px;}

div#rightarrow, div#leftarrow { margin-top: 50%; } 
div#rightarrow a, div#leftarrow a { border:none; color:#fff} 

#donetop, #donebot {
	position: absolute;
	width: 150px;
  height: 25px;
}
#donetop { top: 3px; left: 600px;}
#donebot { position:relative; margin-top: 10px; left: 50px;}

/* end Edit CO  page */
.div_progbar_key {
	width: 95%;
	height: 3em;
	text-align: right; 
	font-size: 77%; 
	font-weight: bolder;
	background-color: #FFF;
}
.caption_progbar_key {
	text-align: right; 
	font-size: 77%; 
	font-weight: bolder;
	background-color: #FFF;
	height: 2em;
}